
    <table border=1>
        <tr>
        <td>なまえ</td><td>!name!</td>
        </tr>
        <tr>
        <td>すがた</td><td><img src=!image!></td>
        </tr>
        <tr>
        <td>タイプ</td><td>!type!</td>
        </tr>

        <tr>
        <td>たかさ</td><td>!height!</td>
        </tr>
        <tr>
        <td>おもさ</td><td>!weight!</td>
        </tr>
       </table>
       
   <style>
table{
 margin:auto;
 border-color: red;
}
button{
    margin-top: 3px;
    border-radius: 50%;
    color:white;
}

</style>

