
    <table border=1>
        <tr>
        <td>name</td><td>!name!</td>
        </tr>
        <tr>
        <td>image</td><td><img src=!image!></td>
        </tr>
        <tr>
        <td>type</td><td>!type!</td>
        </tr>

        <tr>
        <td>height</td><td>!height!</td>
        </tr>
        <tr>
        <td>weight</td><td>!weight!</td>
        </tr>
       </table>
       
   <style>
table{
 margin:auto;
 border-color: red;
}
button{
    margin-top: 3px;
    border-radius: 50%;
    color:white;
}

</style>

