<!DOCTYPE html>
    <html lang="ja">
    <head><meta charset="utf-8">
    </head>
    <body>
    <table border=1>
        <tr>
        <td>name</td><td>!name!</td>
        </tr>
        <tr>
        <td>image</td><td><img src=!image!></td>
        </tr>
        <tr>
        <td>type</td><td>!type!</td>
        </tr>

        <tr>
        <td>height</td><td>!height!</td>
        </tr>
        <tr>
        <td>weight</td><td>!weight!</td>
        </tr>
       </table>
       <br>
       

    

       <style>
       body{
        text-align:center;
       }
       table{
        margin:auto;
       }
       </style>

   

